### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
items = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(items)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
## Player Count

* Display the total number of players

In [4]:
players = purchase_data ["SN"].nunique()
print (players)

576

In [5]:

u_items = purchase_data ["Item ID"].nunique()
print(u_items)

183

In [6]:

tot_pur = purchase_data["Purchase ID"].count()
print (tot_pur)

780

In [7]:
#calculated sum of total revenue
tot_rev = purchase_data["Price"].sum()
print(tot_rev)

2379.77

In [8]:
#calculated average price
av_price = tot_rev / tot_pur
print(av_price)

3.0509871794871795

In [9]:
summary_df = pd.DataFrame({"Number of Unique Numbers": [u_items],
                          "Average Purchase Price": [av_price],
                          "Total Number of Purchases": [tot_pur],
                          "Total Revenue": [tot_rev]})
summary_df

,Number of Unique Numbers,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

In [10]:
find = purchase_data.drop_duplicates("SN")
find['Gender'].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [11]:
gendercount =  find['Gender'].value_counts().values
genders =  find['Gender'].value_counts().index

In [12]:
total =gendercount.sum()
total

576

In [13]:
genderpercent = gendercount / total *100
genderpercent = [str(round(x,2)) + "%" for x in genderpercent]
genderpercent

['84.03%', '14.06%', '1.91%']

In [14]:
summary_df = pd.DataFrame({"Genders": genders,
                          "Total Count": gendercount,
                          "Percentage of Players": genderpercent})
summary_df

                 Genders  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#create dataframe of unique users
pur_Unq = purchase_data.drop_duplicates("SN")
genders =  pur_Unq['Gender'].value_counts().index

print (genders)

Index(['Male', 'Female', 'Other / Non-Disclosed'], dtype='object')

In [16]:
gender_counts = purchase_data["Gender"].value_counts()
genCounts2 = gender_counts.values
genCounts2

array([652, 113,  15])

In [17]:
gender_group = purchase_data.groupby(["Gender"])
gender_comparison = gender_group.mean()
genderPrice2 = gender_comparison.Price.values
genderPrice2

array([3.20300885, 3.01785276, 3.346     ])

In [18]:
gender_purchase = gender_group.sum()
genderTotalPrice = gender_purchase.Price.values
genderTotalPrice

array([ 361.94, 1967.64,   50.19])

In [19]:
genderCount2 = summary_df.sort_values("Genders")["Total Count"].values
genderCount2

array([ 81, 484,  11])

In [20]:
avgGenderPerson = genderTotalPrice / genderCount2
avgGenderPerson

array([4.46839506, 4.0653719 , 4.56272727])

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
bins = [0,9,14,19,24,29,34,39,100]

unique_df= purchase_data.groupby('SN').mean()

age=unique_df.groupby(pd.cut(unique_df['Age'],bins=bins)).size()

age_df=pd.DataFrame({ "Total Count":age})
age_df['Percentage of Players']=round(age_df['Total Count']/players *100,2)
age_df

           Total Count  Percentage of Players
Age
(0, 9]              17                   2.95
(9, 14]             22                   3.82
(14, 19]           107                  18.58
(19, 24]           258                  44.79
(24, 29]            77                  13.37
(29, 34]            52                   9.03
(34, 39]            31                   5.38
(39, 100]           12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [23]:
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [24]:
agerange = purchase_data['Age Demographics'].value_counts().index.values
agerange

[20-24, 15-19, 25-29, 30-34, 35-39, 10-14, <10, 40+]
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [25]:
age_count = purchase_data["Age Demographics"].value_counts()
age_count2 = age_count.values
age_count2

array([365, 136, 101,  73,  41,  28,  23,  13])

In [26]:
age_group = purchase_data.groupby(["Age Demographics"])
age_comparison = age_group.mean()
ageprice2 = age_comparison.Price.values
ageprice2

array([3.35347826, 2.95642857, 3.03595588, 3.05221918, 2.9009901 ,
       2.93150685, 3.60170732, 2.94153846])

In [27]:
age_purchase = age_group.sum()
ageTotalPrice = age_purchase.Price.values
ageTotalPrice

array([  77.13,   82.78,  412.89, 1114.06,  293.  ,  214.  ,  147.67,
         38.24])

In [28]:
ageCount2 = age_df.sort_values("Age")["Total Count"].values
ageCount2

array([ 17,  22, 107, 258,  77,  52,  31,  12])

In [29]:
avgAgePerson = ageTotalPrice / ageCount2
avgAgePerson

array([4.53705882, 3.76272727, 3.85878505, 4.31806202, 3.80519481,
       4.11538462, 4.76354839, 3.18666667])

In [30]:
summary_df4 = pd.DataFrame({"Age": agerange,
                          "Purchase Count": age_count2})
sortedDf4 = summary_df4.sort_values("Age").reset_index(drop=True)
sortedDf4["Average Purchase Price"] = ageprice2
sortedDf4["Average Purchase Price"] = sortedDf4["Average Purchase Price"].astype(float).map("${:,.2f}".format)
sortedDf4["Total Purchase Value"] = ageTotalPrice
sortedDf4["Total Purchase Value"] = sortedDf4["Total Purchase Value"].astype(float).map("${:,.2f}".format)
sortedDf4["Avg Total Purchase per Person"] = avgAgePerson
sortedDf4["Avg Total Purchase per Person"] = sortedDf4["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
sortedDf4

,Age,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,$3.35,$77.13,$4.54
1,10-14,28,$2.96,$82.78,$3.76
2,15-19,136,$3.04,$412.89,$3.86
3,20-24,365,$3.05,"$1,114.06",$4.32
4,25-29,101,$2.90,$293.00,$3.81
5,30-34,73,$2.93,$214.00,$4.12
6,35-39,41,$3.60,$147.67,$4.76
7,40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
spenders = purchase_data["SN"].value_counts()
spenders.head()

Lisosia93      5
Idastidru52    4
Iral74         4
Yathecal82     3
Ialallo29      3
Name: SN, dtype: int64

In [32]:
spenders=pd.DataFrame(data=spenders)
spenders.columns = ["Purchase Count"]
spenders.head()

             Purchase Count
Lisosia93                 5
Idastidru52               4
Iral74                    4
Yathecal82                3
Ialallo29                 3

In [33]:
spenders["Average Purchase Price"] = round(purchase_data["Price"].groupby(purchase_data["SN"]).mean(),2)
spenders["Total Purchase Value"] = purchase_data["Price"].groupby(purchase_data["SN"]).sum()


spenders = spenders.sort_values(by="Total Purchase Value", ascending=False)


spenders["Average Purchase Price"] = spenders["Average Purchase Price"].map("${:,.2f}".format)
spenders["Total Purchase Value"] = spenders["Total Purchase Value"].map("${:,.2f}".format)
spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
popular_items = purchase_data["Item ID"].value_counts()
popular_items.head()

178    12
82      9
108     9
145     9
92      8
Name: Item ID, dtype: int64

In [35]:
popular_items=pd.DataFrame(data=popular_items)
popular_items.columns = ["Purchase Count"]
popular_items.head()

     Purchase Count
178              12
82                9
108               9
145               9
92                8

In [36]:
athing = purchase_data.groupby(["Item ID", "Item Name"]).size().reset_index()
anotherthing = athing[["Item ID", "Item Name"]].set_index("Item ID")["Item Name"]
anotherthing

Item ID
0                                          Splinter
1                                          Crucifer
2                                           Verdict
3                                      Phantomlight
4                                Bloodlord's Fetish
5                                        Putrid Fan
6                                       Rusty Skull
7                      Thorn, Satchel of Dark Souls
8                          Purgatory, Gem of Regret
9                 Thorn, Conqueror of the Corrupted
10                                      Sleepwalker
11                                        Brimstone
12                                            Dawne
13                                         Serenity
14                                   Possessed Core
15                             Soul Infused Crystal
16                                  Restored Bauble
17                     Lazarus, Terror of the Earth
18                       Torchlight, Bond of Storms
19                    Pursuit, Cudgel of Necromancy
20                                       Netherbane
21                                        Souleater
22                                          Amnesia
23                                         Crucifer
24                                    Warped Fetish
25                                        Hero Cane
26                                      Unholy Wand
27                  Riddle, Tribute of Ended Dreams
28                 Flux, Destroyer of Due Diligence
29                          Chaos, Ender of the End
                           ...
154                                    Feral Katana
155                       War-Forged Gold Deflector
156                    Soul-Forged Steel Shortsword
157                         Spada, Etcher of Hatred
158              Darkheart, Butcher of the Champion
159               Oathbreaker, Spellblade of Trials
160                                      Azurewrath
161                                          Devine
162                                   Abyssal Shard
163                            Thunderfury Scimitar
164                                Exiled Doomblade
165                     Bone Crushing Silver Skewer
166                             Thirsty Iron Reaver
167                     Malice, Legacy of the Queen
168             Sun Strike, Jaws of Twisted Visions
169          Interrogator, Blood Blade of the Queen
170                                     Shadowsteel
171                                         Scalpel
172                              Blade of the Grave
173                             Stormfury Longsword
174                                 Primitive Blade
175                      Woeful Adamantite Claymore
176                          Relentless Iron Skewer
177        Winterthorn, Defender of Shifting Worlds
178    Oathbreaker, Last Hope of the Breaking Storm
179                 Wolf, Promise of the Moonwalker
180                                     Stormcaller
181                                   Reaper's Toll
182                                       Toothpick
183                             Dragon's Greatsword
Name: Item Name, Length: 183, dtype: object

In [37]:
popular_items["Item Name"] = anotherthing
popular_items["Average Purchase Price"] = round(purchase_data["Price"].groupby(purchase_data["Item ID"]).mean(),2)
popular_items["Total Purchase Value"] = purchase_data["Price"].groupby(purchase_data["Item ID"]).sum()


popular_items = popular_items.sort_values(by="Total Purchase Value", ascending=False)


popular_items["Average Purchase Price"] = popular_items["Average Purchase Price"].map("${:,.2f}".format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:,.2f}".format)
popular_items.head(10)

,Purchase Count,Item Name,Average Purchase Price,Total Purchase Value
178,12,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,$50.76
82,9,Nirvana,$4.90,$44.10
145,9,Fiery Glass Crusader,$4.58,$41.22
92,8,Final Critic,$4.88,$39.04
103,8,Singed Scalpel,$4.35,$34.80
59,8,"Lightning, Etcher of the King",$4.23,$33.84
108,9,"Extraction, Quickblade Of Trembling Hands",$3.53,$31.77
78,7,"Glimmer, Ender of the Moon",$4.40,$30.80
72,8,Winter's Bite,$3.77,$30.16
60,8,Wolf,$3.54,$28.32

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
popular_items.head(10)

,Purchase Count,Item Name,Average Purchase Price,Total Purchase Value
178,12,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,$50.76
82,9,Nirvana,$4.90,$44.10
145,9,Fiery Glass Crusader,$4.58,$41.22
92,8,Final Critic,$4.88,$39.04
103,8,Singed Scalpel,$4.35,$34.80
59,8,"Lightning, Etcher of the King",$4.23,$33.84
108,9,"Extraction, Quickblade Of Trembling Hands",$3.53,$31.77
78,7,"Glimmer, Ender of the Moon",$4.40,$30.80
72,8,Winter's Bite,$3.77,$30.16
60,8,Wolf,$3.54,$28.32